@import '../assets/styles/variables.css';

.footer {
  background-color: var(--background-muted); /* Use variable */
  color: var(--text-dark); /* Use variable */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.footer-section {
  text-align: center;
  z-index: 1;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
}

.get-in-touch strong {
  font-weight: bold;
  color: var(--text-link-hover); /* Use variable */
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  font-size: 1.5rem;
  color: var(--text-link); /* Use variable */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--text-link-hover); /* Use variable */
}

.footer-credits p {
  font-size: 1rem;
  color: var(--text-muted); /* Use variable */
}