@import '../assets/styles/variables.css';

.hero {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: row; /* Align items in a row */
  text-align: left; /* Align text to the left */
  background: var(--background-muted); /* Use variable */
  color: var(--text-dark); /* Use variable */
  box-sizing: border-box; /* Include padding in width/height calculations */
  overflow: hidden;
  align-items: center; /* Center items vertically */
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
  width: 50%;
}

.hero-animation {
  width: 50%;
  height: 450px;
  z-index: 0
}
.hero-title {
  font-size: 4rem;
  color: var(--text-dark); /* Use variable */
  margin-bottom: 2rem;
  font-weight: 700; /* Bold font weight */
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--text-muted); /* Use variable */
  font-weight: 400; /* Normal font weight */
}

.hero-jobs {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Space between job items */
}

.hero-job {
  padding: 0.75rem 1.5rem; /* Padding for job items */
  border-radius: 3rem; /* Rounded corners */
  background: var(--tile-background); /* Use variable */
  color: var(--text-dark); /* Use variable */
  border: 1px dashed var(--text-muted); /* Use variable */
  width: fit-content;
  border-style: dashed;
  display: flex;
  gap: 0.5rem; /* Space between icon and text */
}

.hero-image {
  width: 1rem; /* Adjust the size as needed */
  height: 1rem; /* Keep it square */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image fits within the circle */
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4rem; /* Reduce font size for smaller screens */
  }

  .hero-subtitle {
    font-size: 1rem; /* Adjust subtitle size */
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 3rem; /* Further reduce font size for very small screens */
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }
}

.rotating-group {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}