@import '../assets/styles/variables.css';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  box-shadow: 0 4px 6px var(--shadow-light); /* Use variable for shadow */
  transform: translateY(-100%); /* Initially hidden */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.visible {
  transform: translateY(0); /* Slide down when visible */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar h1 {
  font-size: 1.5rem;
  color: var(--text-dark); /* Use variable */
}

.navbar-links {
  display: flex;
  gap: 1rem; /* Space between icons */
}

.navbar-links a {
  font-size: 1.5rem; /* Size of the icons */
  color: var(--text-link); /* Use variable */
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--text-link-hover); /* Use variable */
}