@import '../assets/styles/variables.css';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar.visible {
  background-color: var(--background-light); /* Use variable for background */
  box-shadow: 0 4px 6px var(--shadow-light); /* Use variable for shadow */
}

.navbar-title {
  transform: translateY(-1000%); /* Initially hidden */
  transition: transform 0.1s ease-in-out;
  font-size: 2rem;
}
.navbar-title.visible {
  transform: translateY(0); /* Slide down when visible */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navbar-links {
  display: flex;
  border: 0.01rem solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar-links a {
  font-size: 1.2rem; /* Size of the icons */
  color: white; /* Use variable */
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--text-link-hover); /* Use variable */
}