@import '@fortawesome/fontawesome-free/css/all.min.css';

#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
}

section {
  scroll-snap-align: start; /* Snap each section to the start */
  min-height: 100vh; /* Ensure sections are at least 100vh */
}

.footer {
  scroll-snap-align: end; /* Disable snapping for the footer */
  height: auto; /* Allow the footer to take its natural height */
}